{% extends 'LaLune/base.html' %}
{% block body %}
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button><br><br>
<p class="subtitle fancy"><span><i><b>O NAMA</b></i></span></p><br>

<div class="box-c">
        <a href="#" class="custom-underline">Ko smo mi?</a>
      </div>
<br>
<p class="opisstranice">Dobrodošli na internet stranicu naše kompanije.<br>

Osnovna djelatnost kojom se bavimo je, najkraće rečeno – ljepota. Da budemo precizniji, bavimo se distribucijom proizvoda za uljepšavanje koji su namijenjeni profesionalnoj salonskoj, ali i ličnoj upotrebi.<br>

Dugogodišnje iskustvo naučilo nas je da pažljivo osluškujemo potrebe svojih klijenata. U skladu sa tim, naša ponuda sadrži više od 35 000 artikala i preko 100 različitih brendova i, zajedno sa nama, neprekidno raste.<br>

Zahvaljujući izuzetnoj saradnji sa našim distributivnim centrima, asortiman koji nudimo možete pronaći u cijelom regionu ali i šire.</p>
<blockquote class="otro-blockquote">
  Jedna od ključnih vrijednosti naše kompanije je konstantan proces učenja i usavršavanja, zbog čega smo redovni posjetioci najznačajnijih svjetskih dešavanja iz oblasti ljepote.
</blockquote>
<p class="opisstranice">Ispunjavanje zahtjeva i potreba naših klijenata uvek su nam na prvom mestu, zbog čega uspešno poslujemo duže od 23 godine. Među našim vjernim klijentima nalaze se brojni kozmetički i frizerski saloni, spa centri, make-up studiji i akademije.<br><br>

Vjerujemo da je dobra komunikacija značajan preduslov uspješnog poslovanja - profesionalnost i timski rad su razlozi zbog kojih uspješno gradimo mrežu lojalnih klijenata. Svaki kupac nam je važan, stoga je naše ljubazno osoblje uvek spremno da Vam pomogne i prepozna Vaše potrebe.</p><br><br>

<table class="informacije">
  <tr>
    <td style="border-right: 1px solid black;"><img src="/static/img/bunny.png" width="200" height="200"><br><br><b>Cruelty free</b><br><text style="font-size: 15px">
    Surađujemo isključivo sa kompanijama koje svoje proizvode ne testiraju na životinjama</text></td>
    <td style="border-right: 1px solid black;"><img src="/static/img/kreativnost.png" width="200" height="200"><br><br><b>Kreativnost</b>
    <br><text style="font-size: 15px">
    Sposobnost razmišljanja izvan okvira. Donosimo odluke, stvaramo nešto novo i generiramo puno ideja.</text></td>
    <td><img src="/static/img/smiley.png" width="200" height="200"><br><br><b>Stalno usavršavanje</b>
    <br><text style="font-size: 15px">
    Redovno komuniciramo sa istaknutim stručnjacima, kako bi samo pažljivo odabrani brendovi ušli u našu ponudu.</text></td></td>
  </tr>
  </table>
  <p class="subtitle fancy"><span><i><b>NAŠI SARADNICI</b></i></span></p><br>
<p><a href="#"><img src="/static/img/revolution.png" align="left"></a><br></p>
<p class="opisstranice">
  Revolution služi za predstavljanje i osvajanje raznolikog skupa kupaca. U industriji u kojoj su norme ljepote tek počele biti dovedene u pitanje, Revolution Beauty krši ta pravila i zalaže se za inkluzivnost od dana kada se rodila.<br><br>

Još u 2014. različitost je bila još uvijek koncept niše. Inkluzivnost nije bila baš velika na agendi robnih marki. Mali razarač, tada nazvan Makeup Revolution, pojavio se s jasnim konceptom - osporiti postojeće standarde i demokratizirati industriju koja igra ključnu ulogu u definiranju društva.
</p>
<blockquote class="otro-blockquote">
 Prije pet godina Revolution je stvoren iz vizije za bolju beauty tvrtku, „novi normalan“. Tvrtka koja cijeni svoje potrošače i stvara nevjerojatne proizvode izravno iz njihovih povratnih informacija. Sada smo postali globalni brend koji i dalje stoji za istim vrijednostima - inkluzivnost, raznolikost, remete zastarele ljepote. Vjerujemo da bi svi trebali imati pristup kvalitetnom make up-u ako to žele i da svaka definicija ljepote zaslužuje biti slavljena.
  <span>Adam Minto, osnivač</span>
</blockquote>
<p class="opisstranice">
  Revolution je osmišljen 2013. godine oko kuhinjskog stola osnivača Adama Mintoa. Udruživanjem snage s kolegom poduzetnikom i proizvođačem ljepote Tom Allsworthom omogućeno je da marka brzo raste. Prvi prodavač imao je na prodaju proizvod Makeup Revolution 6 mjeseci kasnije. Cilj je bio razviti kvalitetnu šminku koja je dostupna svima. Naš koncept brze ljepote u kojem svaki tjedan lansiramo proizvode ukorijenjen je u strasti naših osnivača za uvođenje najnovijih trendova ljepote i inovacija proizvoda na tržište po povoljnim cijenama.<br><br>

Od prvog dana, revolucionarna posvećenost inkluzivnosti obuhvaća sve što čini - od stvaranja povratnih informacija potrošača do razvoja proizvoda, do predstavljanja vlastitih zaposlenika, super obožavatelja i stvaralaca sadržaja u svim komunikacijama marki, sjajnog nerealnog savršenstva i modela u korist stvarnih ljudi, prave ljepote.<br><br>

Šminka je bitna, bez obzira na dob, spol, nacionalnost ili seksualnost. #OpenMinds je poziv Revolutiona da svi slave različitost, prigrle nesavršenost, poštuju samoizražavanje i podrže ljepotu u mnogim njenim oblicima i oblicima. Za nas je otvoreni um snažan, lijep, jak za sposobnost gledanja izvan očitog i prihvaćanje nepoznatog.<br>
</p>
<div class="kontejnervideo">
<div class="c-video">
    <video class="video" src="/static/img/video1.mp4" ></video>
    <div class="controls">
        <div class="purple-bar">
            <div class="orange-juice">
            </div>
        </div>
        <div class="dugmad">
            <button id="play-pause"></button>
        </div>
    </div>
</div>
</div>
<hr style="border: 1px solid #E0CCDE; margin-left: 50px; margin-right: 50px;">


<p><a href="#"><img src="/static/img/nyx.png" width="400" height="150" align="left"></a><br></p>
<p class="opisstranice">
  NYX Professional Makeup američka je kozmetička tvrtka koja je podružnica tvrtke L'Oréal. Tvrtku je osnovao u Los Angelesu Toni Ko 1999. godine. Ime je dobila po grčkoj božici noći Nyx.<br><br>
   NYX Professional Makeup certificiran je i priznat od strane PETA-e kao brend bez okrutnosti, a oni nude široku paletu proizvoda prilagođenih veganima. NYX proizvodi se prodaju u više od 70 zemalja u tisućama trgovaca, u rasponu od specijalnih trgovina ljepote i mode do samostojećih trgovina i korporativnih web stranica marke.
</p>
<blockquote class="otro-blockquote">
 NYX Professional Makeup odražava današnje trendove u šminkanju. U ponudi brenda možete pronaći sve, od ruževa pa do kistova za šminkanje, jednako popularnih među širom javnosti kao i među profesionalnim vizažistima diljem svijeta. Imidžu brenda pridonosi originalan i dizajnerski stil pakiranja. NYX Professional Makeup obilježavaju razigrane boje, bogati pigmenti i dugotrajna postojanost. Pronađite savršen make-up i preobrazite se u profesionalnog vizažista s NYX Professional Makeup!
  <span>notino.hr</span>
</blockquote>
<p class="opisstranice">
  Toni Ko osnovala je NYX Cosmetics kad je imala 25 godina koristeći zajam od 250.000 dolara od roditelja. Prvi proizvodi tvrtke bile su jumbo olovke za oči koje su u prvoj godini donijele 2 milijuna dolara prihoda. Proizvodi su u početku prodavani samo kozmetičkim profesionalcima prije nego što je Ko širila prodaju na prodajna mjesta na masovnom tržištu. Proizvodi su plasirani na tržište kao ljepota u robnoj kući dok se prodaju po "drogerijama".<br><br>

Prodaja u 2014. iznosila je 120 milijuna dolara. Ulta Beauty nosi masovno tržište NYX proizvoda.<br><br>
U septembru 2018. godine NYX je pokrenuo Masterclass, ekskluzivnu internetsku biblioteku obrazovnog sadržaja na kojoj se nalazi skupina profesionalnih šminkera i vrhunskih beauty vloggera. Program ima za cilj da potrošačima svih setova vještina pruži dostupnu edukaciju o šminkanju profesionalne klase.
</p>
<br><br>
{% endblock %}